* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    background: #fff;
    z-index: 10;
}


section h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
}

section p {
    font-size: 1.2em;
}


footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F2D724;
    color: #666;
    font-size: 5em;
    text-transform: uppercase;
    visibility: hidden;
}



.footerVisible {
    visibility: visible;
}

.margin400px {
    margin-bottom: 400px;
    /* margin-top: 100%; */
    margin-top: 100vh;
    padding: 100px 25px;
}


.imagen {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #000;
    position: fixed;
    text-align: center;
    z-index: 1;
}

.immm {
    background-image: url(../img/438979.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    -webkit-animation: zoomInOut 20s 0s infinite normal linear both;
    animation: zoomInOut 20s 0s infinite normal linear both;
}

.imggg {
    display: none;
}


@-webkit-keyframes zoomInOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes zoomInOut {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


.contenedor {
    width: 100%;
    padding: 15px;
}


.formulario {
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}


.registro {
    padding: 2rem;
    font-size: 14px;
}

h1 {
    text-align: center;
    color: #000;
    font-size: 40px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor {
    margin: 35px 0;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: black;
    font-size: 20px;
    background: #FEED00;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    border: solid 1px transparent;

}

.button:hover {
    background: #000;
    border: solid 1px #000;
    color: white;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: 600;
}

.link:hover {
    color: #000;
}


.footer {
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.footer ul {
    display: flex;
    list-style: none;
}

.footer li a {
    color: #7F7F7F;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.4s;
    padding-right: 2rem;
}

.footer ul li {
    transition: all 0.4s;
}

.footer ul li:hover {
    transform: translateY(-10px);

}

.footer li a:hover {
    color: #000000;

}

.footer span {
    color: #7F7F7F;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 10px;
}

.footer .logo a {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.footer .logo span {
    color: #EEEEEE;
}





/*Media queries*/


@media(min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}


@media (max-width: 540px) {
    section h1 {
        font-size: 2em;
    }

    section p {
        font-size: 1em;
    }

    .margin400px {
        padding: 100px 15px;
    }
}